# PostgreSQL
POSTGRES_DB=cinema_db
POSTGRES_DB_PORT=5432
POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_HOST=db
# pgAdmin
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=your_pgadmin_password
# JWT keys (Generate secure random 32-byte hex keys for production)
SECRET_KEY_ACCESS=your_secret_key_access_hash
SECRET_KEY_REFRESH=your_secret_key_refresh_hash
JWT_SIGNING_ALGORITHM=HS256
# MailHog
MAILHOG_USER=admin
MAILHOG_PASSWORD=your_mailhog_password
MAILHOG_API_PORT=8025
# Email settings for MailHog
EMAIL_HOST=mailhog
EMAIL_PORT=1025
EMAIL_HOST_USER=testuser
EMAIL_HOST_PASSWORD=your_email_password
EMAIL_USE_TLS=False
# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=your_minio_password
MINIO_HOST=minio-cinema
MINIO_PORT=9000
MINIO_STORAGE=cinema-storage
# Celery
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0
# Stripe API Keys (Get these from your Stripe Dashboard in Test Mode)
STRIPE_SECRET_KEY=sk_test_your_stripe_secret_key
STRIPE_WEBHOOK_SECRET=whsec_your_stripe_webhook_secret