<html lang="">
<head>
  <title>Movie Comment</title>
</head>
<body style="margin: 0; padding: 0; background-color: #f4f4f4; font-family: Arial, sans-serif;">
<div style="border: 1px solid #e0e0e0; border-radius: 8px; box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
            padding: 20px; max-width: 480px; margin: 40px auto; background-color: #ffffff; color: #333333;">
  <p style="margin: 10px 0; line-height: 1.6; font-size: 16px;">
  Someone replied to your comment! Click the button below to view the reply:
  </p>
  <p style="margin: 20px 0; text-align: center;">
    <a id="link" href="{{ comment_link }}" style="display: inline-block; background-color: #4CAF50; color: #ffffff;
            text-decoration: none; font-size: 16px; padding: 10px 20px; border-radius: 4px;">
     View all comments
    </a>
  </p>
  <p style="margin: 20px 0 10px; line-height: 1.6; font-size: 16px;">
    Regards,
  </p>
  <p style="margin: 0; font-style: italic; font-size: 16px; color: #4CAF50;">
    Taras Mosiichuk
  </p>
</div>
</body>
</html>